.main-card {
    padding: 7px 10px;
    margin-bottom: 10px;
    width: 30%;
    border: 1px solid grey;
    max-height: 260px;
}

.card-title {
    margin: 0;
    padding: 0 0 10px;
    color: darkgrey;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.card-description {
    color: black;
    margin: 0;
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.card-fork-star {
    margin: 0 0 10px 15px;
    color: darkgrey;
}

.card-fork-star img {
    position: relative;
    top: 1px;
}

.card-fork-star span {
    padding-right: 20px;
}

.card-date {
    margin: 0px;
    color: darkgrey;
    font-size: 16px;
}

.card-language span {
    text-transform: uppercase;
    color: #ff8100;
}