.initial-container {
    width: 40%;
    margin: 200px auto;
    text-align: center
}



.initial-radio-control {
    display: flex;
    justify-content: center;
    margin-left: 75px;
}

.initial-radio-control label {
    padding: 10px;
}