.main-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "sortings sortings"
                        "filters cards";
    grid-template-rows: 100px 1fr ;
    grid-template-columns: 300px 1fr ;
}
.main-container .main-filters{
    grid-area:filters;
    padding: 20px;
}
.main-container .main-sortings{
    grid-area:sortings;
    display: flex;
    justify-content: center;
}
.main-container .main-cards{
    grid-area:cards;
}
.main-container .main-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.main-container .main-button{
        position: relative;
        left: 50%;
        margin: 20px;
}

