.main-sortings {
    
    
}
.main-sortings .sorts {
    align-self: center;
    list-style: none;
    position: relative;
    top: -15px;
}

.main-sortings .sorts li {
    display: inline-block;
    margin-right: -50px;
}

.select-width {
    width: 150px;
    align-self: center;
    margin-left: 79px;
    position: relative;
    top: 5px;
    position: relative;
    
}

.options-color{
    color: #aaaaaa
}